@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

ul > li::before {
  content: "\2713";
  margin-right: 0.5em;
  padding: 4px 10px;
  border-radius: 1000px;
  color: white;
}

strong {
  color: #000000;
}

input:focus {
  outline: none;
  /* border: none; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes shake {
  10% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  40% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  80% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

.header-phone:hover img,
.header-phone:hover svg {
  -webkit-animation: shake 1.5s;
  animation: shake 1.5s;
}
